.sl-btn {
background-color: white;
padding: 10px;
}
#prev, #next {
background-color: white;
padding: 10px;
}
.sl-btn:hover {
background-color: gray;
transition: 0.5s;
}
#prev:hover, #next:hover {
background-color: gray;
transition: 0.5s;
}
.slideshow{
    margin-top: 20px;
}
.numbers{
    padding: 5px;
    margin-top: 5px;
    width: 42px;
    background-color: white;
}
.numbers:hover{
    background-color: gray;
}
.numberedslides{
    margin: 10px 0;
}
.indicators img{
    width: 33%;
    opacity: 0.5;
}
.indicators img:hover{
    opacity: 1;
    cursor: pointer;
}
.indicators{
    width: 100%;
}
.image-spot {
    margin: 20px 0;
}
